
@font-face{
    font-family: 'TTLakes';
    src: url(fonts/TTLakes-Medium.ttf);
    font-weight: 700;
    font-style: normal;
}


.slider-section{
    border-top: 1px solid #D9FFF5;
    font-family: 'TTLakes';
    display: flex;
    flex-direction: column;
    min-height: 234px;
    max-width: 100%;
    width: 100%;
    background-color: #F2F2F2;
    overflow: hidden;
}
.slider-section__header{
    
    font-size: 16px;
    color: #7E7E82;
    padding: 16px;
}
.swiper{
    
    min-height: 154px;
    height: 100%;


}
.swiper__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.swiper__item{
    display: flex;
    min-width: 240px;
    height: 72px;
    background-color: white;
    justify-content: space-between;

}
.swiper__logo{
    display: flex;
    padding-left: 16px;
    align-items: center;
}
.swiper__btn{
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    background-image: url(icons/go.svg);
    background-repeat: no-repeat;
}

.swiper__btn:hover{
    background-color: rgb(241, 217, 224);
    filter: hue-rotate(45deg) saturate(5);
    transition: .5s;
}
.slider-section__btn{
    font-family: inherit;
    display: flex;
    flex-wrap: nowrap;
    color: #1B1C21;
    background-color: transparent;
    display: none;
    border: none;
    margin-top: 16px;
    width: 151px;
    height: 24px;
    margin-left: 16px;
}
.slider-section__btn::before{
    content: "";
    height: 10px;
    width: 10px;
    background-image: url(icons/next.svg);
    background-repeat: no-repeat;
    padding-right: 17px;

    margin-top: 3px;
}
.slider-section__btn:hover::before{
    transition: 1s;
    filter: hue-rotate(180deg);
}
.swiper-pagination {
    position: static;
    padding-top: 16px;
    display: flex;
    line-height: 12px;
    flex-direction: row;
    margin: 0 25%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    z-index: 10;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
  .swiper-pagination-bullet {
    width: 1em;
    height: 1em;
    background-color: #dddddd;
    opacity: 1;
    margin: 0 6px;
}
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
  }

@media (min-width: 768px){
    .slider-section{
        max-width: 1120px;       
        min-width: 100%;
        max-height: 322px;
        height: 322px;
        overflow: visible;
        position: relative;
    }
    .slider-section--active{
        max-height: 490px;
        height: 490px;
    }

    .swiper__list{
        height: 200px;
    }
    .swiper__list{
        flex-wrap: wrap;
        overflow: visible;
        margin-left: 16px;
    }
    .swiper{
        height: 200px;
    }
    .swiper__item{
        box-sizing: border-box;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 224px;
        max-width: 100%;
        width: 25%;
        align-items: center;
        margin-right: 24px;
        margin-bottom: 16px;
        
    }
    .none{
        transition: 2s display;
        display: none;
    }
    .flex{
        transition: 2s display;
        display: flex;
    }
    .slider-section__btn{
        display: flex;
        position: absolute;
        bottom: 34px;
        cursor: pointer;
        outline: none;
    }
    .slider-section__btn--rotate::before{
        transform: rotate(180deg) translateX(17px);
        filter: hue-rotate(180deg);

    }
    .swiper-pagination{
        display: none;
    }
}
@media (min-width: 1120px){

}